* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  min-height: 100vh; 
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dayBackground {
  background: #0075b3;
  background: linear-gradient(90deg, #0075b3 0%, #30a0ff 36%, #00c9f1 100%);
  background-repeat: no-repeat;
}

.sunsetBackground {
background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.nightBackground {
  background: #040b3c;
background: linear-gradient(to bottom,  #141a47 0%,#01317a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040b3c', endColorstr='#012459',GradientType=0 );

}

