
.daily-temp {
    font-size: 4em;
}

.daily-weather-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.go-back-button {
    font-size: 1.5em;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    margin-top: 56px;
    color: white;
    background: linear-gradient(45deg, #1f1f1f27, #ffffff07);
    box-shadow: -4px -4px 6px 0 #0000001a,
                2px 2px 6px 0 #f7f7f715;
    padding: 10px 70px;
    text-decoration: none;
    border: 0px;
    border-radius: 25px;
    transition: 0.3s;
}

.go-back-button:hover {
    padding: 10px 100px;
}

.daily-width {
    max-width: 500px;
}