
.daily-temp {
    font-size: 4em;
}

.daily-weather-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.go-back-button {
    font-size: 1.5em;
    font-weight: 400;
    position: relative;
    bottom: 20px;
    margin-top: 56px;
    color: #444;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100%);
    -webkit-box-shadow: 0px 5px 25px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 25px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 25px -15px rgba(0,0,0,0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dadada",GradientType=1);
    padding: 10px 70px;
    text-decoration: none;
    border: 0px;
    border-radius: 25px;
    animation: vibrate-1 2.3s linear infinite both;
    transition: 0.3s;
}

.go-back-button:hover {
    padding: 10px 100px;
    -webkit-box-shadow: 0px 5px 27px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 27px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 27px -15px rgba(0,0,0,0.75);
}

.daily-width {
    max-width: 500px;
}